/*
   neljapäev, 12. märts 202612:50:01
   User: 
   Server: (localdb)\MSSQLLocalDB
   Database: IKT25tar
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_Employees
	(
	Id int NOT NULL,
	FirstName nvarchar(50) NULL,
	MiddleName nvarchar(30) NULL,
	LastName nvarchar(30) NULL,
	Gender nvarchar(50) NULL,
	Salary nvarchar(50) NULL,
	DepartmentId int NULL,
	ManagerId int NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_Employees SET (LOCK_ESCALATION = TABLE)
GO
IF EXISTS(SELECT * FROM dbo.Employees)
	 EXEC('INSERT INTO dbo.Tmp_Employees (Id, FirstName, MiddleName, LastName, Gender, Salary, DepartmentId, ManagerId)
		SELECT Id, FirstName, MiddleName, LastName, Gender, Salary, DepartmentId, ManagerId FROM dbo.Employees WITH (HOLDLOCK TABLOCKX)')
GO
DROP TABLE dbo.Employees
GO
EXECUTE sp_rename N'dbo.Tmp_Employees', N'Employees', 'OBJECT' 
GO
ALTER TABLE dbo.Employees ADD CONSTRAINT
	PK__Employee__3214EC07279C5D49 PRIMARY KEY CLUSTERED 
	(
	Id
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
select Has_Perms_By_Name(N'dbo.Employees', 'Object', 'ALTER') as ALT_Per, Has_Perms_By_Name(N'dbo.Employees', 'Object', 'VIEW DEFINITION') as View_def_Per, Has_Perms_By_Name(N'dbo.Employees', 'Object', 'CONTROL') as Contr_Per 